
###Biblioteca Pymongo

In [ ]:
!python -m pip install pymongo

In [ ]:
!pip install dnspython

###Importando bibliotecas

In [ ]:
import pymongo
from pymongo import MongoClient
import pandas as pd
import json
import matplotlib.pyplot as plt

###Definindo a conexão com banco de dados

In [ ]:
cluster = pymongo.MongoClient("mongodb+srv://db_user:vfBxqQoLyzo6c0dU@cluster0.spz7t2s.mongodb.net/db_user?retryWrites=true&w=majority")

###Setando a Database do projeto

In [ ]:
db = cluster.get_database('projeto_ifb')

### Descrição dos cenários coletado

#####Coleta 1 - coleta da temperatura e umidade fora da caixa

#####Coleta 2 - coleta da temperatura e umidade dentro da caixa fechada contendo um desumidificador e um notebook emitindo calor

#####Coleta 3 - coleta da temperatura e umidade dentro da caixa contendo apenas o desumidificador

#####Coleta 4 - coleta da temperatura e umidade dentro da caixa fechada contendo o desumidificador e 3 lanternas

#####Coleta 5 - coleta da temperatura e umidade dentro da caixa fechada usando um secador a cada 5 minutos

###Lendo os aquivos csv

In [ ]:
coleta_1 = pd.read_csv('coleta1.csv', delimiter=';')
coleta_2 = pd.read_csv('coleta2.csv', delimiter=';')
coleta_3 = pd.read_csv('coleta3.csv', delimiter=';')
coleta_4 = pd.read_csv('coleta4.csv', delimiter=';')
coleta_5 = pd.read_csv('coleta5.csv', delimiter=';')

In [ ]:
coleta_1

          data      hora  temperatura  umidade
0   21/12/2022  19:32:18         23.4       81
1   21/12/2022  19:32:48         23.4       81
2   21/12/2022  19:33:18         23.4       81
3   21/12/2022  19:33:48         23.4       81
4   21/12/2022  19:34:18         23.4       81
..         ...       ...          ...      ...
56  21/12/2022  20:00:23         23.5       81
57  21/12/2022  20:00:53         23.5       81
58  21/12/2022  20:01:23         23.5       81
59  21/12/2022  20:01:53         23.4       81
60  21/12/2022  20:02:23         23.4       81

[61 rows x 4 columns]

In [ ]:
coleta_2

In [ ]:
coleta_3

In [ ]:
coleta_4

In [ ]:
coleta_5

### Transformando os dados em formato JSON para persitência no MongoDB

In [ ]:
dados_1 = coleta_1.to_dict(orient = "records")
dados_2 = coleta_2.to_dict(orient = "records")
dados_3 = coleta_3.to_dict(orient = "records")
dados_4 = coleta_4.to_dict(orient = "records")
dados_5 = coleta_5.to_dict(orient = "records")

In [ ]:
dados_1

In [ ]:
dados_2

In [ ]:
dados_3

In [ ]:
dados_4

In [ ]:
dados_5

###Setando as collections e persistindo os dados

In [ ]:
collection_1 = db.get_collection('coleta_dados_1')
if(list(collection_1.find())):
  print('Já existe dados na collection_1')
else:
  collection_1.insert_many(dados_1)

In [ ]:
collection_2 = db.get_collection('coleta_dados_2')
if(list(collection_2.find())):
  print('Já exite dados na collection_2')
else: 
  collection_2.insert_many(dados_2)

In [ ]:
collection_3 = db.get_collection('coleta_dados_3')
if(list(collection_3.find())):
  print('Já existe dados na collection_3')
else:
  collection_3.insert_many(dados_3)

In [ ]:
collection_4 = db.get_collection('coleta_dados_4')
if(list(collection_4.find())):
  print('Já existe dados na collection_4')
else:
  collection_4.insert_many(dados_4)

In [ ]:
collection_5 = db.get_collection('coleta_dados_5')
if(list(collection_5.find())):
  print('Já existe dados na collection_5')
else:
  collection_5.insert_many(dados_5)

### Limpando as collections (OBS: Usado apenas para teste, não execute se não vai limpar o banco kk)

In [ ]:
collection_1.delete_many({})
collection_2.delete_many({})
collection_3.delete_many({})
collection_4.delete_many({})
collection_5.delete_many({})

### Graficos com os dados da coleta

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd


def plot_temperature_data(data_file, estado):
    # Abre o arquivo CSV
    with open(data_file, 'r') as csv_file:
        df = pd.read_csv(csv_file, sep=';', header=0, decimal=',')

    # Seleciona as colunas de hora e Temperatura
    x = df['Hora']
    y = df['Temperatura']

    

    # Cria o gráfico
    fig, ax = plt.subplots()
    plt.title("Gráfico de Temperatura do dia "+ df['Data'][0] + estado)

    # Adiciona a umidade ao eixo y
    ax.plot(x, y, 'r-')
    ax.set_xlabel('Hora')
    ax.set_ylabel('Temperatura (C)', color='r')
    ax.tick_params('y', colors='r')
    
    plt.gcf().set_size_inches(18, 10)
    plt.xticks(rotation=50)

    # Mostra o gráfico
    plt.show()
plot_temperature_data('coleta1.csv'," Fora da caixa")
plot_temperature_data('coleta2.csv', " dentro da caixa fechada contendo um desumidificador e um notebook emitindo calor")
plot_temperature_data('coleta3.csv', " dentro da caixa contendo apenas o desumidificador")
plot_temperature_data('coleta4.csv', " dentro da caixa fechada contendo o desumidificador e 3 lanternas")
plot_temperature_data('coleta5.csv', " dentro da caixa fechada usando um secador a cada 5 minutos")

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

def plot_umidade_data(data_file, estado):
    # Abre o arquivo CSV
    with open(data_file, 'r') as csv_file:
        df = pd.read_csv(csv_file, sep=';', header=0, decimal=',')

    # Seleciona as colunas de data, hora e umidade
    x = df['Hora']
    y = df['Umidade']

    # Cria o gráfico
    fig, ax = plt.subplots()

    # Coloca o titulo do gráfico
    plt.title("Gráfico de Umidade do dia " + df['Data'][0] + estado)
    

    # Adiciona a umidade ao eixo y
    ax.plot(x, y, 'b-')
    ax.set_xlabel('Hora')
    ax.set_ylabel('Umidade (%)', color='b')
    ax.tick_params('y', colors='b')
    plt.gcf().set_size_inches(18, 6)
    plt.xticks(rotation=50)
    

    # Mostra o gráfico
    plt.show()
plot_umidade_data("coleta1.csv"," Fora da caixa")
plot_umidade_data("coleta2.csv", " dentro da caixa fechada contendo um desumidificador e um notebook emitindo calor")
plot_umidade_data("coleta3.csv", " dentro da caixa contendo apenas o desumidificador")
plot_umidade_data("coleta4.csv", " dentro da caixa fechada contendo o desumidificador e 3 lanternas")
plot_umidade_data("coleta5.csv", " dentro da caixa fechada usando um secador a cada 5 minutos")

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd


# Carrega o arquivo CSV
def plot_umidade_temperatura_data(data_file, estado):
    # Abre o arquivo CSV
    with open(data_file, 'r') as csv_file:
      df = pd.read_csv(csv_file, sep=';', header=0, decimal=',')

    # Seleciona as colunas de data, hora, temperatura e umidade
    x =  df['Hora']
    y1 = df['Temperatura']
    y2 = df['Umidade']

    
    # Cria o gráfico
    fig, ax1 = plt.subplots()
    # Coloca o titulo do gráfico
    plt.title("Gráfico de Umidade e Temperatura do dia " + df['Data'][0] + estado)

    # Adiciona a temperatura ao eixo y1
    ax1.plot(x, y1, 'b-')
    ax1.set_xlabel('Hora')
    ax1.set_ylabel('Temperatura (C)', color='b')
    ax1.tick_params('y', colors='b')
    plt.gcf().set_size_inches(18, 9)
    plt.xticks(rotation=50)

    # Adiciona a umidade ao eixo y2
    ax2 = ax1.twinx()
    ax2.plot(x, y2, 'r-')
    ax2.set_ylabel('Umidade (%)', color='r')
    ax2.tick_params('y', colors='r')

   

    # Mostra o gráfico
    plt.show()
plot_umidade_temperatura_data("coleta1.csv"," Fora da caixa")
plot_umidade_temperatura_data("coleta2.csv", " dentro da caixa fechada contendo um desumidificador e um notebook emitindo calor")
plot_umidade_temperatura_data("coleta3.csv", " dentro da caixa contendo apenas o desumidificador")
plot_umidade_temperatura_data("coleta4.csv", " dentro da caixa fechada contendo o desumidificador e 3 lanternas")
plot_umidade_temperatura_data("coleta5.csv", " dentro da caixa fechada usando um secador a cada 5 minutos")